<?xml version="1.0" encoding="utf-8"?>
<WpfSettings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <CaptureOdsTraces>true</CaptureOdsTraces>
  <ShowTicksMode>AsSeconds</ShowTicksMode>
  <WrapText>true</WrapText>
  <FontSize>12</FontSize>
  <FontName>Cascadia Code</FontName>
  <Filters>
    <Filter>
      <Type>Regex</Type>
      <IsFilterTypeText>false</IsFilterTypeText>
      <IsFilterTypeRegex>true</IsFilterTypeRegex>
      <Column>ProcessName</Column>
      <IsFilterColumnText>false</IsFilterColumnText>
      <IsFilterColumnProcessName>true</IsFilterColumnProcessName>
      <Definition>^((?!LiveSplit).)*$</Definition>
      <IgnoreCase>true</IgnoreCase>
    </Filter>
    <Filter>
      <Type>Text</Type>
      <IsFilterTypeText>true</IsFilterTypeText>
      <IsFilterTypeRegex>false</IsFilterTypeRegex>
      <Column>Text</Column>
      <IsFilterColumnText>true</IsFilterColumnText>
      <IsFilterColumnProcessName>false</IsFilterColumnProcessName>
      <Definition>LiveSplit.exe Information: 0 :</Definition>
      <IgnoreCase>false</IgnoreCase>
    </Filter>
  </Filters>
  <ColorSets>
    <ColorSet>
      <Name>newScript</Name>
      <ForeBrush>White</ForeBrush>
      <BackBrush>#4b4b4b</BackBrush>
    </ColorSet>
    <ColorSet>
      <Name>startInit</Name>
      <BackBrush>#abd277</BackBrush>
    </ColorSet>
    <ColorSet>
      <Name>warning</Name>
      <BackBrush>#efb092</BackBrush>
    </ColorSet>
    <ColorSet>
      <Name>error</Name>
      <BackBrush>#f35458</BackBrush>
    </ColorSet>
    <ColorSet>
      <Name>shutdownExit</Name>
      <BackBrush>#ead666</BackBrush>
    </ColorSet>
    <ColorSet>
      <Name>debug</Name>
      <BackBrush>#9bcdff</BackBrush>
    </ColorSet>
    <ColorSet>
      <Name>aslhelp</Name>
      <BackBrush>#c0c0ff</BackBrush>
    </ColorSet>
  </ColorSets>
  <Colorizers>
    <Colorizer>
      <IgnoreCase>false</IgnoreCase>
      <Definition>(?&lt;newScript&gt;^\[ASL\] Loading new script: .*$)</Definition>
    </Colorizer>
    <Colorizer>
      <IgnoreCase>false</IgnoreCase>
      <Definition>(?&lt;startInit&gt;^\[ASL/\d+\] Running startup$)</Definition>
    </Colorizer>
    <Colorizer>
      <IgnoreCase>false</IgnoreCase>
      <Definition>(?&lt;startInit&gt;^\[ASL/\d+\] Init completed, running main methods$)</Definition>
    </Colorizer>
    <Colorizer>
      <IgnoreCase>false</IgnoreCase>
      <Definition>(?&lt;startInit&gt;^\[ASL/\d+\] Initializing$)</Definition>
    </Colorizer>
    <Colorizer>
      <IgnoreCase>false</IgnoreCase>
      <Definition>(?&lt;warning&gt;^LiveSplit.exe Warning: 0 :$)</Definition>
    </Colorizer>
    <Colorizer>
      <IgnoreCase>false</IgnoreCase>
      <Definition>(?&lt;error&gt;^LiveSplit.exe Error: 0 :$)</Definition>
    </Colorizer>
    <Colorizer>
      <IgnoreCase>false</IgnoreCase>
      <Definition>(?&lt;shutdownExit&gt;^\[ASL/\d+\] Running shutdown$)</Definition>
    </Colorizer>
    <Colorizer>
      <IgnoreCase>false</IgnoreCase>
      <Definition>(?&lt;shutdownExit&gt;^\[ASL/\d+\] Running exit$)</Definition>
    </Colorizer>
    <Colorizer>
      <IgnoreCase>false</IgnoreCase>
      <Definition>(?&lt;aslhelp&gt;^\[asl-help\].*$)</Definition>
    </Colorizer>
    <Colorizer>
      <IgnoreCase>false</IgnoreCase>
      <Definition>(?&lt;warning&gt;^\[Warning\].*$)</Definition>
    </Colorizer>
    <Colorizer>
      <IgnoreCase>false</IgnoreCase>
      <Definition>(?&lt;error&gt;^\[Error\].*$)</Definition>
    </Colorizer>
    <Colorizer>
      <IgnoreCase>false</IgnoreCase>
      <Definition>(?&lt;error&gt;^\[Abort\].*$)</Definition>
    </Colorizer>
    <Colorizer>
      <IgnoreCase>true</IgnoreCase>
      <Definition>(?&lt;debug&gt;^\[(?!(ASL/[\d]+)).*\].*$)</Definition>
    </Colorizer>
  </Colorizers>
  <EtwProviders />
</WpfSettings>
